<a id="addPermission" href="{{path('fom_user_acl_search_index')}}" class="iconAdd iconBig right" title="{{'mb.manager.admin.application.security.add_users_groups'|trans}}"></a>
{{ form_widget(form.published) }}<label for="{{form.published.vars.id}}" class="labelCheck">{{"mb.manager.admin.application.security.public"|trans}}</label>
<div class="clearContainer"></div>
{{ form_widget(form.listed) }}<label for="{{form.listed.vars.id}}" class="labelCheck">{{"mb.manager.admin.application.security.listed"|trans}}</label>
<div class="clearContainer"></div>
{{ form_widget(form.acl) }}