<div class="left">
    {{ form_label(form.name) }}{{ form_widget(form.name) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>
<div class="left">
    {{ form_label(form.title) }}{{ form_widget(form.title) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>
<div class="left">
    {{ form_label(form.workflow) }}{{ form_widget(form.workflow) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>
<div class="left">
    {{ form_label(form.starttime) }}{{ form_widget(form.starttime) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>
<div class="left">
    {{ form_label(form.interval) }}{{ form_widget(form.interval) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>
<div class="left">
    {{ form_label(form.description) }}{{ form_widget(form.description) }}
    <div class="clearContainer"></div>
</div>
<div class="clearContainer"></div>