<div id="searchResultsOlc">
    <div title="{% if result.properties.level > 2 and innerhalb is defined and innerhalb == true %}Karte auf Objekt zoomen und Objekt in Karte markieren{% else %}Objekt außerhalb des gültigen Kartenbereichs{% endif %}" class="{% if result.properties.level > 2 and innerhalb is defined and innerhalb == true %}clickable document {% else %}ausserhalb {% endif %}olc"{% if wkt is defined %} data-geom="{{ wkt }}"{% endif %}>
        {% if result.properties.level == 1 %}
            {{ result.properties.code_level_1 }}
        {% elseif result.properties.level == 2 %}
            {{ result.properties.code_level_2 }}
        {% elseif result.properties.level == 3 %}
            {{ result.properties.code_level_3 }}
        {% elseif result.properties.level == 4 %}
            {{ result.properties.code_level_4 }}
        {% elseif result.properties.level == 5 %}
            {{ result.properties.code_level_5 }}{% if result.properties.code_regional != "not definable" %} <span class="small">(regional: {{ result.properties.code_regional }}){% endif %}</span>
        {% endif %}
    </div>
</div>
