    <div id="searchResultsThematicOne">
    {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}

    {% if result.documents is defined %}
    {% for doc in result.documents %}

        {% set json = doc.json|json_decode %}

        {% if loop.index is odd %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="clickable
        {% else %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="even clickable
        {% endif %}
        
             {% if type == 'anundverkauf'%} anundverkauf document
             {% elseif type == 'anlagevermoegendereigenbetriebe'%} anlagevermoegendereigenbetriebe document
             {% elseif type == 'baumkataster'%} baumkataster document
             {% elseif type == 'bebauungsplaene'%} bebauungsplaene document
             {% elseif type == 'bebauungsplaene_nur_rk'%} bebauungsplaene_nur_rk document
             {% elseif type == 'betriebegewerblicherart'%} betriebegewerblicherart document
             {% elseif type == 'grundvermoegen'%} grundvermoegen document
             {% elseif type == 'gruenfriedhofsflaechen'%} gruenfriedhofsflaechen document
             {% elseif type == 'gruenpflegeobjekte'%} gruenpflegeobjekte document
             {% elseif type == 'ingenieurbauwerke'%} ingenieurbauwerke document
             {% elseif type == 'kleingartenanlagen' %} kleingartenanlagen document
             {% elseif type == 'leuchten' %} leuchten document
             {% elseif type == 'leuchtenschalteinrichtungen' %} leuchtenschalteinrichtungen document
             {% elseif type == 'lichtsignalanlagen' %} lichtsignalanlagen document
             {% elseif type == 'mietenpachten' %} mietenpachten document
             {% elseif type == 'spielgeraete' %} spielgeraete document
             {% elseif type == 'strassennetz' %} strassennetz document
             {% elseif type == 'wirtschaftseinheiten_wiro' %} wirtschaftseinheiten_wiro document {% endif %}"
{#             {% if json.title is defined %} title="{{ json.title }}"{% endif %}#}
             {% if json.x is defined %} data-x="{{ json.x }}" data-y="{{ json.y }}" {% endif %}
             {% if json.geom is defined %}data-geom="{{ json.geom }}"{% endif %}

             >
            {% if type == 'anundverkauf' and json.data.type == 'anundverkauf' %}
                {% if json.data.flurstueckskennzeichen is defined and json.data.flurstueckskennzeichen != null%}{{ json.data.flurstueckskennzeichen }}, {% endif %}{% if json.data.aktenzeichen is defined and json.data.aktenzeichen != null%}{{ json.data.aktenzeichen }}, {% endif %}Status {{ json.data.realnutzungsarten }}{% if json.data.bemerkungen is defined and json.data.bemerkungen != null%}, {{ json.data.bemerkungen }}{% endif %}
            {% elseif type == 'anlagevermoegendereigenbetriebe' and json.data.type == 'anlagevermoegendereigenbetriebe' %}
                {% if json.data.flurstueckskennzeichen is defined and json.data.flurstueckskennzeichen != null%}{{ json.data.flurstueckskennzeichen }}, {% endif %}{% if json.data.aktenzeichen is defined and json.data.aktenzeichen != null%}{{ json.data.aktenzeichen }}, {% endif %}Status {{ json.data.realnutzungsarten }}{% if json.data.wirtschaftseinheit_betriebsvermoegen is defined and json.data.wirtschaftseinheit_betriebsvermoegen != null%}, {{ json.data.wirtschaftseinheit_betriebsvermoegen }}{% endif %}
            {% elseif type == 'baumkataster' and json.data.type == 'baum' %}
                Baum{% if json.data.gefaellt is defined and json.data.gefaellt != null and json.data.gefaellt == 'ja'%} (gefällt){% endif %} (Bewirtschafter {{ json.data.bewirtschafter }}, Grünpflegebezirk {{ json.data.bezirk }}, Grünpflegeobjekt {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}, Nummer {{ json.data.nummer }}, laufende Nummer {{ json.data.laufende_nummer }})
            {% elseif type == 'baumkataster' and json.data.type == 'baumgruppe' %}
                Baumgruppe (Grünpflegebezirk {{ json.data.bezirk }}, Grünpflegeobjekt {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}, Teilnummer {{ json.data.teil }})
            {% elseif type == 'baumkataster' and json.data.type == 'baumreihe' %}
                Baumgruppe (Grünpflegebezirk {{ json.data.bezirk }}, Grünpflegeobjekt {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}, Teilnummer {{ json.data.teil }})
            {% elseif type == 'bebauungsplaene' and json.data.type == 'bebauungsplaene' %}
                {{ json.data.nummer }}, {{ json.data.bezeichnung }}{{ json.data.rechtskraeftig }}
            {% elseif type == 'bebauungsplaene_nur_rk' and json.data.type == 'bebauungsplaene_nur_rk' %}
                {{ json.data.nummer }}, {{ json.data.bezeichnung }}
            {% elseif type == 'betriebegewerblicherart' and json.data.type == 'betriebegewerblicherart' %}
                {% if json.data.flurstueckskennzeichen is defined and json.data.flurstueckskennzeichen != null%}{{ json.data.flurstueckskennzeichen }}, {% endif %}{% if json.data.aktenzeichen is defined and json.data.aktenzeichen != null%}{{ json.data.aktenzeichen }}, {% endif %}Status {{ json.data.realnutzungsarten }}{% if json.data.bemerkungen_bga is defined and json.data.bemerkungen_bga != null%}, {{ json.data.bemerkungen_bga }}{% endif %}
            {% elseif type == 'grundvermoegen' and json.data.type == 'grundvermoegen' %}
                {{ json.data.aktenzeichen }}
            {% elseif type == 'gruenfriedhofsflaechen' and json.data.type == 'gruenfriedhofsflaechen' %}
                {{ json.data.art }} (Grünpflegebezirk {{ json.data.bezirk }}, Grünpflegeobjekt {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}{% if json.data.pflegebezeichnung is defined and json.data.pflegebezeichnung != null%}, {{ json.data.pflegebezeichnung }}{% endif %}, Teilnummer {{ json.data.teil }})
            {% elseif type == 'gruenpflegeobjekte' and json.data.type == 'gruenpflegeobjekte' %}
                Grünpflegebezirk {{ json.data.bezirk }}, {{ json.data.objektart }}, {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}
            {% elseif type == 'ingenieurbauwerke' and json.data.type == 'ingenieurbauwerke' %}
                {{ json.data.art }}, {% if json.data.nummer_asb is defined and json.data.nummer_asb != null%}{{ json.data.nummer_asb }}, {% endif %}{{ json.data.nummer }}
            {% elseif type == 'kleingartenanlagen' and json.data.type == 'kleingartenanlagen' %}
                {{ json.data.bezeichnung }}
            {% elseif type == 'leuchten' and json.data.type == 'leuchten' %}
                Leuchtentragsystem: {{ json.data.tragsystem_nummer }}, {{ json.data.tragsystem_mslink }}; Leuchte: {{ json.data.nummer }}{% if json.data.nummer_zusatz is defined and json.data.bezeichnung != null%}, {{ json.data.nummer_zusatz }}{% endif %}, {{ json.data.mslink }}
            {% elseif type == 'leuchtenschalteinrichtungen' and json.data.type == 'leuchtenschalteinrichtungen' %}
                {{ json.data.mslink }}, {{ json.data.bezeichnung }}
            {% elseif type == 'lichtsignalanlagen' and json.data.type == 'lichtsignalanlagen' %}
                {{ json.data.nummer }}{% if json.data.knoten_nummer is defined and json.data.knoten_nummer != null%}, {{ json.data.knoten_nummer }}{% endif %}{% if json.data.bezeichnung is defined and json.data.bezeichnung != null%}, {{ json.data.bezeichnung }}{% endif %}
            {% elseif type == 'mietenpachten' and json.data.type == 'mietenpachten' %}
                {% if json.data.flurstueckskennzeichen is defined and json.data.flurstueckskennzeichen != '' %}
                    {{ json.data.aktenzeichen }} – {{ json.data.flurstueckskennzeichen }} ({{ json.data.flaeche }})
                {% else %}
                    {{ json.data.aktenzeichen }} – Gesamtfläche ({{ json.data.flaeche }})
                {% endif %}
            {% elseif type == 'spielgeraete' and json.data.type == 'spielgeraete' %}
                Grünpflegebezirk {{ json.data.bezirk }}, Grünpflegeobjekt {{ json.data.objektnummer }} {{ json.data.objektbezeichnung }}{% if json.data.nummer is defined and json.data.nummer != null%}, Nummer {{ json.data.nummer }}{% endif %}, Pflegeeinheit {{ json.data.pflegeeinheit }}
            {% elseif type == 'strassennetz' %}
                {% if json.data.type == 'netzknoten' %}
                    <i class="fa fa-circle" title="Netzknoten"></i> {{ json.data.nummer }}
                {% else %}
                    <i class="fa fa-road" title="Netzabschnitt"></i> {{ json.data.nummer }} [{{ json.data.strasse_name }} ({{ json.data.strasse_schluessel }})]
                {% endif %}
            {% elseif type == 'wirtschaftseinheiten_wiro' and json.data.type == 'wirtschaftseinheiten_wiro' %}
                {{ json.data.nummer }} ({{ json.data.adressen }})
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
</div>
