<div id="searchResultsTwo">
    {% if type == 'mv_addr' or type == 'mv_flur' %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
        {% for feature in result %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="{% if loop.index is odd %}clickable{% else %}even clickable{% endif %}{% if type == 'mv_flur'%} mv_flur document{% elseif type == 'mv_addr' %} mv_addr document{% endif %}"{% if feature.x is defined and feature.y is defined %} data-x="{{ feature.x }}" data-y="{{ feature.y }}"{% elseif feature.wkt is defined %} data-geom="{{ feature.wkt }}"{% endif %}>
                {% if type == 'mv_addr' and feature.properties.objektgruppe == 'Adresse' %}
                    <i class="fa fa-home" title="Adresse"></i> {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}{% if feature.properties.gemeindeteil_name != null %}, {{ feature.properties.gemeindeteil_name }}{% endif %}, {{ feature.properties.strasse_name }} {{ feature.properties.hausnummer }}{{ feature.properties.hausnummer_zusatz }}
                {% elseif type == 'mv_addr' and feature.properties.objektgruppe == 'Straße' %}
                    <i class="fa fa-road" title="Straße"></i> {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}{% if feature.properties.gemeindeteil_name != null %}, {{ feature.properties.gemeindeteil_name }}{% endif %}, {{ feature.properties.strasse_name }}
                {% elseif type == 'mv_addr' and feature.properties.objektgruppe == 'Gemeindeteil' %}
                    <i class="fa fa-circle-o" title="Gemeindeteil"></i> {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}, {{ feature.properties.gemeindeteil_name }}
                {% elseif type == 'mv_addr' and feature.properties.objektgruppe == 'Gemeinde' %}
                    <i class="fa fa-circle" title="Gemeinde"></i> {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}
                {% elseif type == 'mv_flur' and feature.properties.objektgruppe == 'Gemarkung' %}
                    {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}, {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }})
                {% elseif type == 'mv_flur' and feature.properties.objektgruppe == 'Flur' %}
                    {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}, {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}
                {% elseif type == 'mv_flur' and feature.properties.objektgruppe == 'Flurstück' %}
                    {{ feature.properties.gemeinde_name }}{% if feature.properties.gemeinde_name_suchzusatz != null %} <small>{{ feature.properties.gemeinde_name_suchzusatz }}</small>{% endif %}, {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}, {{ feature.properties.zaehler }}{% if feature.properties.nenner != '' %}/{{ feature.properties.nenner }}{% endif %}
                {% endif %}
            </div>
        {% endfor %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
    {% else %}
    {% endif %}
</div>
