    <div id="searchResults">
    {% if type == 'addr' or type == 'flur' %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
        {% for feature in result %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="{% if loop.index is odd %}clickable{% else %}even clickable{% endif %}{% if type == 'flur'%} flur document{% elseif type == 'addr' %} addr document{% endif %}"{% if feature.properties.id_fachsystem is defined %} data-gml_id="{{ feature.properties.id_fachsystem }}"{% endif %}{% if feature.x is defined and feature.y is defined %} data-x="{{ feature.x }}" data-y="{{ feature.y }}"{% elseif feature.wkt is defined %} data-geom="{{ feature.wkt }}"{% endif %}>
                {% if type == 'addr' and feature.properties.objektgruppe == 'Adresse HRO' %}
                    {% if feature.properties.gueltigkeit_bis != null %}<i class="fa fa-history" title="historische Adresse"></i> {{ feature.properties.gemeindeteil_name }}, {{ feature.properties.strasse_name }} {{ feature.properties.hausnummer }}{{ feature.properties.hausnummer_zusatz }}<small>{{ feature.properties._title_|slice(-29, 29) }}</small>{% else %}<i class="fa fa-home" title="Adresse"></i> {{ feature.properties._title_ }}{% endif %}
                {% elseif type == 'addr' and feature.properties.objektgruppe == 'Straße HRO' %}
                    <i class="fa fa-road" title="Straße"></i> {{ feature.properties._title_ }}
                {% elseif type == 'addr' and feature.properties.objektgruppe == 'Gemeindeteil HRO' %}
                    <i class="fa fa-circle-o" title="Ortsteil"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Gemarkung HRO' %}
                    <i class="fa fa-circle" title="Gemarkung"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Flur HRO' %}
                    <i class="fa fa-circle-o" title="Flur"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Flurstück HRO' %}
                    {% if feature.properties.gueltigkeit_bis != null %}<i class="fa fa-history" title="historisches Flurstück"></i> {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}, {{ feature.properties.zaehler }}{% if feature.properties.nenner != '' %}/{{ feature.properties.nenner }}{% endif %}<small>{{ feature.properties._title_|slice(-29, 13) }}</small>{% else %}<i class="fa fa-stop-circle" title="Flurstück"></i> {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}, {{ feature.properties.zaehler }}{% if feature.properties.nenner != '' %}/{{ feature.properties.nenner }}{% endif %}{% if risse_fst_link == 1 and feature.properties.flurstuecksnummer != '' %} <i class="fa fa-link risse-zu-flurstueck" title="Risse zu diesem Flurstück suchen" data-flurstuecksnummer="{{ feature.properties.flurstuecksnummer }}"></i>{% endif %}{% endif %}
                {% else %}
                    {{ feature.properties._title_ }}
                {% endif %}
            </div>
        {% endfor %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
    {% else %}
        {% if result.documents is defined %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
            {% for doc in result.documents %}
                {% set json = doc.json|json_decode %}
                {% if type == 'eigen' %}
                    <div title="ALKIS-Auskunft zu Eigentümer erhalten"
                {% elseif type == 'grund' %}
                    <div title="ALKIS-Auskunft zu Grundbuchblatt erhalten"
                {% elseif type == 'risse_fst' %}
                    <div
                {% else %}
                    <div title="Karte auf Objekt zoomen und Objekt in Karte markieren"
                {% endif %}
                {% if type == 'risse_fst' %}
                    class="unclickable
                {% else %}
                    {% if loop.index is odd %}
                        class="clickable
                    {% else %}
                        class="even clickable
                    {% endif %}
                {% endif %}
                {% if type == 'auftrag' %} auftrag document
                {% elseif type == 'eigen'%} eigen
                {% elseif type == 'grund'%} grund
                {% elseif type == 'risse_fst'%} risse_fst document
                {% elseif type == 'schiffe' %} schiffe document{% endif %}"
                {% if json.x is defined %} data-x="{{ json.x }}" data-y="{{ json.y }}" {% endif %}
                {% if json.geom is defined %}data-geom="{{ json.geom }}"{% endif %}
                {% if json.gml_id is defined %}data-gmlid="{{ json.gml_id }}"{% endif %}
                >
                {% if type == 'auftrag' %}
                    <i class="fa fa-circle" title="{% if json.data.auftrag_art == 'A' %}Auskunftsauftrag{% elseif json.data.auftrag_art == 'E' %}Eigenauftrag{% elseif json.data.auftrag_art == 'G' %}Gebäudeeinmessungsauftrag {% if json.data.erledigt == 1 %}erledigt{% else %}offen{% endif %}{% elseif json.data.auftrag_art == 'K' %}Katasterfortführungsauftrag{% elseif json.data.auftrag_art == 'M' %}Messungsauftrag{% elseif json.data.auftrag_art == 'V' %}Vorbereitungsauftrag{% endif %}" style="color:{% if json.data.auftrag_art == 'A' %}rgb(190,130,255){% elseif json.data.auftrag_art == 'E' %}rgb(255,100,0){% elseif json.data.auftrag_art == 'G' %}{% if json.data.erledigt == 1 %}rgb(100,150,100){% else %}rgb(220,0,0){% endif %}{% elseif json.data.auftrag_art == 'K' %}rgb(0,220,255){% elseif json.data.auftrag_art == 'M' %}rgb(255,255,0){% elseif json.data.auftrag_art == 'V' %}rgb(0,220,0){% endif %}"></i> {{ json.data.auftrag_nummer_hybrid}}</div>{% if json.data.dokumente != '' %}<div class="subdocument">{% for dokument in json.data.dokumente|split(',') %}<a href="https://geo.sv.rostock.de/risse/{{dokument[:4]}}/PDFA/{{dokument}}.pdf" target="_blank" title="Dokument öffnen (via HTTP)">{{dokument}}</a>{% if not loop.last %} • {% endif %}{% endfor %}</div>{% endif %}
                {% elseif type == 'eigen' %}
                    {{json.nachname}}{% if json.vorname is defined and json.vorname != null%}, {{json.vorname}}{% endif %}
                    {% if json.geburtsdatum is defined and json.geburtsdatum != null%} ({{json.geburtsdatum | date('d.m.Y')}}){% endif %}</div>
                {% elseif type == 'grund' %}
                    {{ json.bezirkname}} ({{json.bezirk}}), {{json.grundbuchblatt}}</div>
                {% elseif type == 'risse_fst' %}
                    Risse zu Flurstück <b>{{ json.data.flurstueckskennzeichen }}:</b></div>{% if json.data.risse != '' %}<div class="subdocument">{% for riss in json.data.risse|split(',') %}<span title="Karte auf Objekt zoomen und Objekt in Karte markieren"{% if json.data.risse_wkt is defined %}{%set risse_wkt = json.data.risse_wkt|split('x') %} data-geom="{{ risse_wkt[loop.index0] }}"{% endif %}>{{riss}}</span> <a href="https://geo.sv.rostock.de/risse/{{riss[:4]}}/PDFA/{{riss}}.pdf" target="_blank" title="Riss öffnen (via HTTP)"><i class="fa fa-external-link"></i></a>{% if not loop.last %} • {% endif %}{% endfor %}</div>{% endif %}
                {% elseif type == 'schiffe' and json.data.type == 'schiffe' %}
                    {{ json.data.bezeichnung }} ({{ json.data.typ }}, {{ json.data.baujahr }}), {{ json.data.liegeplatz_bezeichnung_lang }}</div>
                {% endif %}
            {% endfor %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
        {% endif %}
    {% endif %}
</div>
