    <div id="searchResults">
    {% if type == 'addr' or type == 'flur' %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
        {% for feature in result %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="{% if loop.index is odd %}clickable{% else %}even clickable{% endif %}{% if type == 'flur'%} flur document{% elseif type == 'addr' %} addr document{% endif %}"{% if feature.properties.id_fachsystem is defined %} data-gml_id="{{ feature.properties.id_fachsystem }}"{% endif %}{% if feature.x is defined and feature.y is defined %} data-x="{{ feature.x }}" data-y="{{ feature.y }}"{% elseif feature.wkt is defined %} data-geom="{{ feature.wkt }}"{% endif %}>
                {{ feature.properties._title_ }}
            </div>
        {% endfor %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
    {% else %}
        {% if result.documents is defined %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
            {% for doc in result.documents %}
                {% set json = doc.json|json_decode %}
                {% if type == 'grund' %}
                    <div title="ALKIS-Auskunft zu Grundbuchblatt erhalten"
                {% elseif type == 'eigen' %}
                    <div title="ALKIS-Auskunft zu Eigentümer erhalten"
                {% else %}
                    <div title="Karte auf Objekt zoomen und Objekt in Karte markieren"
                {% endif %}
                {% if loop.index is odd %}
                    class="clickable
                {% else %}
                    class="even clickable
                {% endif %}
                {% if type == 'grund'%} grund
                {% elseif type == 'eigen'%} eigen 
                {% elseif type == 'schiffe' %} schiffe document{% endif %}"
                {% if json.x is defined %} data-x="{{ json.x }}" data-y="{{ json.y }}" {% endif %}
                {% if json.geom is defined %}data-geom="{{ json.geom }}"{% endif %}
                {% if json.gml_id is defined %}data-gmlid="{{ json.gml_id }}"{% endif %}
                >
                {% if type == 'grund' %}
                    {{ json.bezirkname}} ({{json.bezirk}}), {{json.grundbuchblatt}}
                {% elseif type == 'eigen' %}
                    {{json.nachname}}{% if json.vorname is defined and json.vorname != null%}, {{json.vorname}}{% endif %}
                    {% if json.geburtsdatum is defined and json.geburtsdatum != null%} ({{json.geburtsdatum | date('d.m.Y')}}){% endif %}
                {% elseif type == 'schiffe' and json.data.type == 'schiffe' %}
                    {{ json.data.bezeichnung }} ({{ json.data.typ }}, {{ json.data.baujahr }}), {{ json.data.liegeplatz_bezeichnung_lang }}
                {% endif %}
                </div>
            {% endfor %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
        {% endif %}
    {% endif %}
</div>
