    <div id="searchResults">
    {% if type == 'addr' or type == 'flur' %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
        {% for feature in result %}
            <div title="Karte auf Objekt zoomen und Objekt in Karte markieren" class="{% if loop.index is odd %}clickable{% else %}even clickable{% endif %}{% if type == 'flur'%} flur document{% elseif type == 'addr' %} addr document{% endif %}"{% if feature.properties.id_fachsystem is defined %} data-gml_id="{{ feature.properties.id_fachsystem }}"{% endif %}{% if feature.x is defined and feature.y is defined %} data-x="{{ feature.x }}" data-y="{{ feature.y }}"{% elseif feature.wkt is defined %} data-geom="{{ feature.wkt }}"{% endif %}>
                {% if type == 'addr' and feature.properties.objektgruppe == 'Adresse HRO' %}
                    {% if feature.properties.gueltigkeit_bis != null %}<i class="fa fa-history" title="historische Adresse"></i> {{ feature.properties.gemeindeteil_name }}, {{ feature.properties.strasse_name }} {{ feature.properties.hausnummer }}{{ feature.properties.hausnummer_zusatz }} <small>{{ feature.properties._title_|slice(-28, 29) }}</small>{% else %}<i class="fa fa-home" title="Adresse"></i> {{ feature.properties._title_ }}{% endif %}
                {% elseif type == 'addr' and feature.properties.objektgruppe == 'Straße HRO' %}
                    <i class="fa fa-road" title="Straße"></i> {{ feature.properties._title_ }}
                {% elseif type == 'addr' and feature.properties.objektgruppe == 'Gemeindeteil HRO' %}
                    <i class="fa fa-circle-o" title="Ortsteil"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Gemarkung HRO' %}
                    <i class="fa fa-circle" title="Gemarkung"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Flur HRO' %}
                    <i class="fa fa-circle-o" title="Flur"></i> {{ feature.properties._title_ }}
                {% elseif type == 'flur' and feature.properties.objektgruppe == 'Flurstück HRO' %}
                    {% if feature.properties.gueltigkeit_bis != null %}<i class="fa fa-history" title="historisches Flurstück"></i> {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}, {{ feature.properties.zaehler }}{% if feature.properties.nenner != '' %}/{{ feature.properties.nenner }}{% endif %} <small>{{ feature.properties._title_|slice(-28, 29) }}</small>{% else %}<i class="fa fa-stop-circle" title="Flurstück"></i> {{ feature.properties.gemarkung_name }} ({{ feature.properties.gemarkung_schluessel }}), Flur {{ feature.properties.flur }}, {{ feature.properties.zaehler }}{% if feature.properties.nenner != '' %}/{{ feature.properties.nenner }}{% endif %}{% endif %}
                {% else %}
                    {{ feature.properties._title_ }}
                {% endif %}
            </div>
        {% endfor %}
        {% include "MapbenderAlkisBundle:Element:paginggeocodr.html.twig" %}
    {% else %}
        {% if result.documents is defined %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
            {% for doc in result.documents %}
                {% set json = doc.json|json_decode %}
                {% if type == 'grund' %}
                    <div title="ALKIS-Auskunft zu Grundbuchblatt erhalten"
                {% elseif type == 'eigen' %}
                    <div title="ALKIS-Auskunft zu Eigentümer erhalten"
                {% else %}
                    <div title="Karte auf Objekt zoomen und Objekt in Karte markieren"
                {% endif %}
                {% if loop.index is odd %}
                    class="clickable
                {% else %}
                    class="even clickable
                {% endif %}
                {% if type == 'grund'%} grund
                {% elseif type == 'eigen'%} eigen 
                {% elseif type == 'schiffe' %} schiffe document{% endif %}"
                {% if json.x is defined %} data-x="{{ json.x }}" data-y="{{ json.y }}" {% endif %}
                {% if json.geom is defined %}data-geom="{{ json.geom }}"{% endif %}
                {% if json.gml_id is defined %}data-gmlid="{{ json.gml_id }}"{% endif %}
                >
                {% if type == 'grund' %}
                    {{ json.bezirkname}} ({{json.bezirk}}), {{json.grundbuchblatt}}
                {% elseif type == 'eigen' %}
                    {{json.nachname}}{% if json.vorname is defined and json.vorname != null%}, {{json.vorname}}{% endif %}
                    {% if json.geburtsdatum is defined and json.geburtsdatum != null%} ({{json.geburtsdatum | date('d.m.Y')}}){% endif %}
                {% elseif type == 'schiffe' and json.data.type == 'schiffe' %}
                    {{ json.data.bezeichnung }} ({{ json.data.typ }}, {{ json.data.baujahr }}), {{ json.data.liegeplatz_bezeichnung_lang }}
                {% endif %}
                </div>
            {% endfor %}
            {% include "MapbenderAlkisBundle:Element:paging.html.twig" %}
        {% endif %}
    {% endif %}
</div>
